<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css"/>
    <script type="text/javascript" src="../static/js/jquery-2.1.4.min.js"></script>
</head>
<body>

      <div class="jumbotron">
        <h1>The Feedback App</h1>
        <form class="form-signin" action="login" method="POST">
        <label for="username" class="sr-only">Username</label>
        <input type="text" name="username" id="username" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>

        <button id="btnLogin" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      </form>
      </div>

</body>
</html>