<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_login.css') }}">
    <script type = "text/javascript"
            src = "{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>

</head>
<body>
<div class="login-page">
  <div class="form">
    <form class="login-form" action="home" method="POST">
      <input name="username" id="username" type="text" placeholder="username"/>
      <input name="inputPassword" id="inputPassword" type="password" placeholder="password"/>
      <button id="btnLogin" type="submit">login</button>
    </form>
  </div>
</div>
</body>
</html>